<header class="header">
    <div>
        <h1>CineHive</h1>
    </div>
    <div>
        <input type="text" placeholder="Search a movie or a series" />
        <button>Sort</button>
    </div>
    <div>
        <textbutton>❤️</textbutton>
        <textbutton>👤</textbutton>
    </div>
</header>
